{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table products-table">
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th>Color</th>
                            <th>Year</th>
                            <th>Actions</th>
                        </tr>
                        {% if(products|length) %}
                            {% for product in products %}
                                <tr class="product-row">
                                    <td>
                                        <img
                                                src="{{ asset('images/iphone7.jpg') }}"
                                                alt="phone"
                                                width="181"
                                                height="333"
                                        >
                                    </td>
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.price }}</td>
                                    <td>{{ product.description }}</td>
                                    <td>{{ product.color }}</td>
                                    <td>{{ product.year }}</td>
                                    <td>
                                        <div>
                                            <a
                                                    class="btn btn-success"
                                                    href="{{ path('product_show',{'id':product.id}) }}"
                                            >
                                                <i class="fa fa-desktop"></i>
                                                Details
                                            </a>
                                        </div>
                                        <div>
                                            <a
                                                    class="btn btn-success"
                                                    href="{{ path('product_edit',{'id':product.id}) }}"
                                            >
                                                <i class="fa fa-edit"></i>
                                                Edit
                                            </a>
                                        </div>
                                        <div>
                                            <button
                                                    class="btn btn-danger delete"
                                                    data-url="{{ path('product_delete',{'id':product.id}) }}"
                                            >
                                                <i class="fa fa-remove"></i>
                                                Delete
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr class="product-row">
                                <td colspan="6">Products no found</td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}