{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a class="btn btn-primary pull-right" href="{{ path('product_list') }}">back</a>
            </div>
            <form class="col-xs-12">
                <div class="product">
                    <div class="col-xs-4 product__image">
                        <img
                                src="{{ asset(product.image ? ([imageUrlPrefix,product.image]|join) : '/images/no-image.jpg') }}"
                                alt="phone"
                                class="image"
                        >
                    </div>
                    <div class="col-xs-8 product_content">
                        <div><strong>Name:</strong> {{ product.name }}</div>
                        <div><strong>Price:</strong> {{ product.price }}</div>
                        <div><strong>Description:</strong> {{ product.description }}</div>
                        <div><strong>Color:</strong> {{ product.color }}</div>
                        <div><strong>Year:</strong> {{ product.year }}</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

